body {
    font-size: 1rem;
}
body a:hover {
    text-decoration: none;
}


/* Bootstrap edit */
.card {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.nav-item .active {
    font-weight: 700; 
}
/* label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 700;
} */

/* .card-header{
  background-color: transparent;
  position: relative;
} */

/* End Bootstrap edit */

/* content-header */
.content-header {
    margin-bottom: 1rem;
}
.content-header h1 {
    font-size: 1.8rem;
    margin: 0;
}
.content-header .breadcrumb {
    background: transparent;
    line-height: 1.8rem;
    margin-bottom: 0;
    padding: 0;
}
.cat-header h1 {
    float: left;
    margin-right: 8px !important;
}
.cat-header span {
    position: absolute;
    top: 10px;
}

.content {
    margin-bottom: 1rem;
}
/* End content-header */

/* services page */
.list-box h4 span,
.services-add h4 span {
    color: brown;
}

/* end service page */

/* create client */

.client-info .header,
.services-add .header {
    color: brown;
}

/* End create client */

/* Start Profile Page */

.info .col-md-3 {
    padding-right: 7.5px;
}
.info .col-md-9 {
    padding-left: 7.5px;
}

.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}

.profile-username {
    font-size: 21px;
    margin-top: 5px;
}

.list-group-unbordered > .list-group-item {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.personal-data .card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

.services-data .card-header {
    background-color: transparent;
    position: relative;
    color: #6c757d;
    font-size: 1.075rem;
}

.card-body .services-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-body .services-list .item {
    border-radius: 0.25rem;
    background: #fff;
    padding: 10px 10px;
}
.card-body .services-list-in-card .item {
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.services-list .item .service-title {
    font-weight: 600;
    font-size: 17px;
}
.card-primary:not(.card-outline) > .card-header {
    background-color: #007bff;
}

.card-primary:not(.card-outline) > .card-header,
.card-primary:not(.card-outline) > .card-header a {
    color: #ffffff;
}

.card-primary:not(.card-outline) > .card-header a.active {
    color: #1f2d3d;
}

.card-primary.card-outline {
    border-top: 3px solid #007bff;
}

.card-primary.card-outline-tabs > .card-header a:hover {
    border-top: 3px solid #dee2e6;
}

.card-primary.card-outline-tabs > .card-header a.active {
    border-top: 3px solid #007bff;
}

.card-primary:not(.card-outline) .btn-tool {
    color: rgba(255, 255, 255, 0.8);
}

.card-primary:not(.card-outline) .btn-tool:hover {
    color: #ffffff;
}

/* End Profile page */

/* img Rules */
.img-sm,
.img-md,
.img-lg {
    float: left;
}

.img-sm {
    height: 1.875rem;
    width: 1.875rem;
}

.img-sm + .img-push {
    margin-left: 2.5rem;
}

.img-md {
    width: 3.75rem;
    height: 3.75rem;
}

.img-md + .img-push {
    margin-left: 4.375rem;
}

.img-lg {
    width: 6.25rem;
    height: 6.25rem;
}

.img-lg + .img-push {
    margin-left: 6.875rem;
}

.img-bordered {
    border: 3px solid #adb5bd;
    padding: 3px;
}

.img-bordered-sm {
    border: 2px solid #adb5bd;
    padding: 2px;
}

.img-rounded {
    border-radius: 0.25rem;
}

.img-circle {
    border-radius: 50%;
}

.img-size-64,
.img-size-50,
.img-size-32 {
    height: auto;
}

.img-size-64 {
    width: 64px;
}

.img-size-50 {
    width: 50px;
}

.img-size-32 {
    width: 32px;
}

/* End img Rules */

/* dashboard page */
.home-stats h1 {
    font-size: 50px;
    color: #5d5b5b;
}
.home-stats .stat {
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
}
.home-stats span {
    display: block;
    font-size: 40px;
    cursor: pointer;
}

.home-stats .stat a {
    color: #212529;
}

.card-header .card-tools {
    float: right;
    margin-right: -0.625rem;
}

.card-header .btn-tool {
    background: 0 0;
    color: #adb5bd;
    font-size: 0.875rem;
    margin: -0.75rem 0;
    padding: 0.25rem 0.5rem;
}

table .admin {
    margin-left: 5px;
}
table .admin .fa-award {
    color: #daa520;
}

.latest .card .products-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.latest .products-list .item {
    border-radius: 0.25rem;
    background: #fff;
    padding: 10px 0;
}

.latest .product-list-in-card .item {
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.latest .product-list-in-card .item:last-child {
    border-bottom: none;
}
.latest .card .card-footer {
    border-top: none;
}

#users-card .card-header,
#items-card .card-header {
    border-bottom: none;
}
.latest .products-list .product-img {
    float: left;
}
.latest .products-list .product-img img {
    height: 50px;
    width: 50px;
}

.latest .products-list .product-info {
    margin-left: 60px;
}

.latest .products-list .product-title {
    font-weight: 600;
}

.latest .products-list .product-description {
    color: #6c757d;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.products-list:last-child {
    border-radius: 0 0 calc(0.25rem - 0) calc(0.25rem - 0);
    border-bottom: none;
}

/* End dashbord page */
